[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
redis = "*"
psycopg2-binary = "*"
flask-migrate = "*"
alembic = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
rave-python = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
flask-shell-ipython = "*"
gunicorn = "*"

[requires]
python_version = "3.12"
